footer {
    background-color: #2b3035;
    color: white;
}

.foot-line1 {
    display: flex;
    justify-content: space-evenly;

    height: 300px;
}

.raw {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 14px;
    margin: 2px;
}

.raw ul {
    /* padding-right: 40px; */
    padding-left: 0px;
}

.raw h3 {
    /* color: rgb(76 50 50); */
    padding-bottom: 8px;
}

.foot-list {
    list-style: none;
}

.foot-list a {
    text-decoration: none;
    /* color: #3a3434; */
}

.foot-line2 {
    border-top: 1px solid black;
    margin: 33px;
    padding: 18px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-icon {
    text-decoration: none;
}

.foot-icon a i {
    cursor: pointer;
    font-size: 1.5rem;
    /* color: black; */
    padding: 0px 5px;
}